# __Análise dos resultados da Experimentação__

Esse notebook será usado apenas para analisar os dados resultantes do processo de experimentação. Esses dados serão importados e carregados para que algumas métricas possam ser observadas e, por conseguinte, algumas conclusões possam ser tiradas. Todas as conclusões e discussões levantadas a partir da visualização dos dados serão melhor apresentadas no relatório do trabalho.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize']  = (12, 6)
plt.rcParams['axes.labelsize']  = 12
plt.rcParams['axes.titlesize']  = 12
plt.rcParams['legend.fontsize'] = 12
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
plt.rcParams['lines.linewidth'] = 1

plt.ion()
plt.style.use('seaborn-colorblind')

Os dados são importados de um arquivo CSV que contém as seguintes colunas:

- ___solver___: qual algoritmo/estratégia foi utilizada para resolver o problema do Caixeiro Viajante;
- ___entrie___: a identificação da entrada, dada pelo número de nós presentes no grafo;
- ___metric___: qual a métrica de distância entre os nós no grafo (distância Euclidiana ou Manhattan);
- ___path___: a sequência de nós percorrida pelo algoritmo que resolve o problema;
- ___cost___: a distância total percorrida pelo caminho retornado pelo algoritmo;
- ___time___: quanto tempo o algoritmo demorou para retornar os resultados (em milisegundos);
- ___space___: ?

In [2]:
path = "../experiments/output.csv"
df = pd.read_csv(path)

df.head(10)

,solver,entrie,metric,path,cost,time,space
0,branch-and-bound,2^4,euclidean,"[0, 4, 7, 9, 6, 14, 8, 13, 11, 3, 2, 12, 5, 15...",961.0,287730.015170,127696653.0
1,branch-and-bound,2^4,manhattan,"[0, 4, 7, 9, 10, 1, 15, 5, 12, 2, 3, 11, 13, 8...",1166.0,187857.253955,82134485.0
2,twice-around-the-tree,2^4,euclidean,"[0, 4, 7, 9, 6, 14, 8, 10, 1, 15, 5, 12, 3, 2,...",1076.0,2.630283,34697.0
3,twice-around-the-tree,2^4,manhattan,"[0, 4, 7, 9, 6, 10, 3, 2, 11, 13, 15, 1, 5, 12...",1558.0,4.240884,34561.0
4,christofides,2^4,euclidean,"[0, 4, 7, 9, 6, 14, 8, 13, 11, 2, 3, 15, 1, 10...",1082.0,9.681829,148325.0